.contact-avatar{
  margin: 0px;
  position: relative;
  width: 128px;
}

.contact-avatar-btn {
  background-color: rgba(0,0,0,.5);
  background-image: none;
  border: none;
  border-radius: 0 0;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  /*right: 0;*/
  text-align: center;
  width: 30px;
}

.modal-header-danger{
  border-bottom: 0px;
  background: #f3a9a1;
}
.modal-header-default{
  border-bottom: 0px;
  background: #b4c1ce;
}

/* KIOSK */
.marquee{
  background: #2c3e50;
  padding: 12px 10px;
  color: #fff;
  font-size: 16px;
}
.marquee span{
  margin-right: 100px;
}
.widget{
}
.kiosk{
}

/* REGISTER DISPLAY TV */
.top-left{
  float: left;
  display: block;
  width: 50%;
  height: 40vh;
  top: 0;
  left: 0;
  padding: 5px 15px;
}
.top-right{
  display: block;
  margin-left: 50%;
  width: 50%;
  height: 40vh;
  top: 0;
  right: 0;
  padding: 5px 15px;
}
.bottom-left{
  clear: both;
  float: left;
  display: block;
  width: 50%;
  height: 35vh;
  bottom: 0;
  padding: 5px 15px;
}
.bottom-right{
  display: block;
  margin-left: 50%;
  width: 50%;
  height: 35vh;
  bottom: 0;
  padding: 5px 15px;
}
.main-title{
  background: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  font-size: 30px;
}

.box-left{
  width: 65%;
  float: left;
}
.box-right{
  margin-left: 65%;
  display: block;
  height: 100%;
  background: #fff
}
